.card-list {
    display: flex;
    flex-direction: column;
  }
  
  .card-list .section-title {
    margin: 2rem 1rem 0 1rem;;
  }
  
  .info-card {
    margin: 1rem;
    position: relative;
    min-height: 200px;
  }
  
  .info-card a {
    color: var(--text-color);
  }
  
  .info-card .cover img {
    display: block;
    width: 100%;
  }
  
  .card-content {
    position: absolute;
    bottom: 0;
    padding: 1rem;;
    background: rgba(15, 12, 41, .75);
  }
  
  .info-card .title {
    font-weight: bolder;
    font-size: 1.3rem;
    margin-bottom: .5rem;
  }
  
  .info-card .meta {
    display: flex;
    justify-content: space-between;
  }
  
  .info-card .description {
    margin-top: .5rem;
  }
  
  @media (min-width: 576px) {}
  @media (min-width: 768px) {
    .card-list {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      position: relative;
      padding-top: 5rem;
    }
    
    .card-list .section-title {
      position: absolute;
      z-index: 5;
      top: 2rem;
      left: 1rem;
      margin: 0;
    }
    
    .info-card {
      margin: 1rem 0;
      width: 45%;
      overflow: hidden;
    }
  }
  
  @media (min-width: 992px) {
    .info-card {
      width: 30%;
    }
  }
  
  @media (min-width: 1200px) {
    .info-card {
      width: calc(100% / 6 - 1rem);
    }
  }
  
  /* Solo para dispositivos que soporten hover */
  @media (hover: hover) {
    .card-content {
      opacity: 0;
      transition: all ease-in .3s;
      transform: translateY(100%);
    }
  
    .info-card a:hover .card-content {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  